
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Api Logs";
}

    <div class="card shadow mb-4">
        <div class="card-header">
            <div class="row justify-content-between px-3">
                <div class="col-3 pl-0">
                    <h6 class="m-0 font-weight-bold align-bottom pt-2">Api Logs</h6>
                </div>
                <div class="col-lg-5 text-center bg-transparent">
                    <div class="input-group input-daterange">
                        <input type="text" class="form-control" id="From" value="">
                        <div class="input-group-addon">to</div>
                        <input type="text" class="form-control" id="To" value="">
                        <button type="button" class="btn btn-outline-success" onclick="searchDates();">Execute</button>
                    </div>
                </div>
            </div>
        </div>
        <h6 class=" text-danger align-content-center p-2" style="display: none" id="NoLogs">No ApiLogs in Date Range.</h6>
    </div>
    <div class="table-responsive" style="overflow: visible">
        <table id="logTable" style="width: 100%; display: none" class="display" cursor="pointer">
            <thead>
            <tr>
                <th>Key</th>
                <th>Date</th>
                <th>Type</th>
                <th>Sev</th>
                <th>Pf</th>
                <th>Route</th>
                <th>V</th>
                <th>U</th>
                <th>Id</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody style="font-size: .7em"></tbody>
        </table>
    </div>

@section Scripts
{
    <script>
        $("#From").datepicker('update', moment().startOf('day').format("L"));
        $("#To").datepicker('update', moment().endOf('day').format("L"));

        function searchDates() {
            var startDate = moment(new Date($("#From").val())).startOf('day').format("YYYY-MM-DD HH:mm");
            var endDate = moment(new Date($("#To").val())).endOf('day').format("YYYY-MM-DD HH:mm");

            loadChart(startDate, endDate);

            function loadChart(startDate) {
                $('#NoLogs').hide();
                $.ajax({
                    url: "/api/log/GetLogs",
                    data: {
                        "startDate": startDate,
                        "endDate": endDate
                    },
                    'method': "GET",
                    'contentType': 'application/json',
                    success: function (data) {
                        $('#logTable').show();
                        $("#logTable").DataTable().destroy();
                        $('#logTable').DataTable({
                            "aaData": data,
                            "lengthMenu": [[-1], ["All"]],
                            "columns": [
                                { "data": "id", "className": 'min' },
                                {
                                    "data": "logDate",
                                    "render": function (value) {
                                        return moment(new Date(value)).format("MM/DD LT");
                                    },
                                    "className": 'nowrap min'
                                },
                                { "data": "type", "className": 'min' },
                                { "data": "severity", "className": 'min' },
                                { "data": "platform", "className": 'min' },
                                { "data": "routeDesc", "className": '' },
                                { "data": "appVersion", "className": 'min' },
                                { "data": "userKey", "className": 'min' },
                                { "data": "userId", "className": 'min' },
                                { "data": "logMessage", "className": '' },
                            ],
                            "order": [[0, 'desc']],
                            dom: 'r',
                            buttons: [
                                {
                                    extend: 'excel',
                                    text: '<i class="fa fa-file-download"></i>',
                                    fileName: 'ProductRequestExport',
                                    title: 'ProductRequestExport',
                                    className: "btn btn-success btn-sm py-1 px-2"
                                }
                            ],
                            "initComplete": function () {
                            },
                            "rowCallback": function (row, data, index) {
                                $('td', row).css('background-color', 'transparent');
                                if (data["severity"] === "Critical") {
                                    $('td', row).css('color', 'Red');
                                }
                                else if (data["severity"] === "Warning") {
                                    $('td', row).css('color', '#FFBF00');
                                }
                                if (data["type"] === "Info") {
                                    $('td', row).css('color', 'lightskyblue');
                                }
                            }
                        });
                    },
                    fail: function (xhr) {
                        $('#logTable').hide();
                        $('#NoLogs').show();
                        alert(JSON.parse(xhr.responseText));
                    },
                    complete(xhr, status) {
                        if (xhr.status == 404) {
                            $('#logTable').hide();
                            $('#NoLogs').show();
                        }
                    }
                });
            }
        }

        searchDates();

        setInterval(searchDates, 10000);
    </script>
}